# Airline Time Series Forecasting

In [20]:
import pandas as pd 
import numpy as np 
import matplotlib as plt 
import seaborn as sns 
import statsmodels.api as sms
%matplotlib inline

In [28]:
df = pd.read_csv(r"E:\6)Time-Series-Forecasting\Data\airline_passengers.csv")

In [29]:
df.head()

     Month  Thousands of Passengers
0  1949-01                    112.0
1  1949-02                    118.0
2  1949-03                    132.0
3  1949-04                    129.0
4  1949-05                    121.0

In [30]:
# Checking for null values 
df.isnull().sum()

Month                      0
Thousands of Passengers    1
dtype: int64

In [31]:
df.tail()

,Month,Thousands of Passengers
140,1960-09,508.0
141,1960-10,461.0
142,1960-11,390.0
143,1960-12,432.0
144,International airline passengers: monthly tota...,NaN

In [34]:
#Droping null values
df.dropna(axis=0,inplace=True)

In [36]:
df.isnull().sum()

Month                      0
Thousands of Passengers    0
dtype: int64

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 144 entries, 0 to 143
Data columns (total 2 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Month                    144 non-null    object
 1   Thousands of Passengers  144 non-null    float64
dtypes: float64(1), object(1)
memory usage: 3.4+ KB

In [ ]:
df['Month'] = pd.to_datetime